<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> Health Care </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto gap-4 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Login
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/patient/login">Patient login</a></li>
                            <li><a class="dropdown-item" href="/doctor/login-page">Doctor login</a></li>
                            <li><a class="dropdown-item" href="/admin/login-page">Admin login</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="single-slider" style="background-image: url('../../static/images/image.png')">
    <div class="container-fluid px-5 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-5 ps-1">  </div>
            <div class="col-lg-7 ">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to Health Care,</h1>
                <h3 class="fw-semibold text-body-emphasis lh-1 mb-3">Every Life Matters To Us!</h3>
                <p class="lead pe-5">Health Care provides seamless, paper-free healthcare management.Your one stop solution to book appointments online, manage doctor schedules and track patient consultations.Providing most trusted health services.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start"> <button type="button"
                        class="btn btn-primary btn-lg px-4 me-md-2">Get Started</button> </div>
            </div>
        </div>
    </div>
    </div>

    <div class="cards-section">
    <div class="row row-cols-1 row-cols-md-3 justify-content-center g-6">
        <div class="col-lg-3">
            <div class="card h-100">
                <img src="../../static/images/person-circle.svg" class="card-img-top w-25 mx-auto mt-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Easy Appointment Booking</h5>
                    <p class="card-text">Schedule online meetings with your
                    preferred physicians with just a few clicks.
                    Save yourself from long waiting periods and make
                    your health visits convenient. Stay updated about
                    your booked appointments by tracking your scheduled visits.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100">
                <img src="../../static/images/heart-pulse.svg" class="card-img-top w-25 mx-auto mt-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Doctor Management</h5>
                    <p class="card-text">Properly manage doctors' schedule, appointments, and consultations.
                    Doctors will be able to check their appointments, update consultation status, and provide better health care services to the patients.</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3">
            <div class="card h-100">
                <img src="../../static/images/shield-check.svg" class="card-img-top w-25 mx-auto mt-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Secure Healthcare Access</h5>
                    <p class="card-text">Role-based authentication ensures that
                        patients, doctors, and administrators all
                        have secure access. The system will keep
                        data safe and ensure that each user can
                        access functions according to their role in
                        the system.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100">
                <img src="../../static/images/hospital.svg" class="card-img-top w-25 mx-auto mt-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hospital Administration</h5>
                    <p class="card-text">Optimize the efficiency of a hospital by using
                    an organized administration process.
                    Organize the handling of patients, physicians,
                    appointments, and healthcare records effectively.
                    This will help facilitate proper coordination between
                    the various departments within the organization.</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container-fluid px-5 py-5" id="about">
        <div class="row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-5 ps-1"> <img src="../../static/images/image1.png"
                    class="d-block mx-lg-auto img-fluid  rounded" alt="Bootstrap Themes" width="500" height="400"
                    loading="lazy"> </div>
            <div class="col-lg-7 ">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About Health Care</h1>
                <h3 class="fw-semibold text-body-emphasis lh-1 mb-3">Every Life Matters To Us!</h3>
                <p class="lead pe-5">Health Care is the latest Hospital Management System intended to make healthcare facilities convenient and organized for
                its users. Our platform integrates all healthcare activities into one place without using any paper documents and making
                everything easier for you.
                <br>
                <br>
                With a user-friendly interface, patients can schedule their appointments, check their appointment history, and easily
                control their healthcare activities. Doctors can schedule their activities and easily track consultations and their
                status, and administrators will be able to control the work of the whole hospital.
                
                We aim to ensure the accessibility of healthcare facilities for our users.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start"> <button type="button"
                        class="btn btn-primary btn-lg px-4 me-md-2">Get Started</button> </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <footer class="py-5">
            <div class="row justify-content-between">
                <div class="col-md-3 mb-3" id="contact">
                    <h5>Health Care</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Email: healthcarehms@gmail.com</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Phone: +91 XXXXX XXXXX</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Location: NIT</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Timmings: Mon-Sat | 9am - 6pm</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>Address</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">📍 Medical Unit,
                        National Institute of Technology Durgapur,
                        Near Hall 14,
                        Durgapur, West Bengal – 713209</a></li>
        
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>Emergency Services</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">24/7 Emergency Support</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Immediate Medical Assistance</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Emergency Helpline Available</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Quick Response Healthcare</a></li>
                        
                    </ul>
                </div>
                <div class="col-md-5 offset-md-1 mb-3">
                    <form>
                        <h5>Get Updates</h5>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2"> <label for="newsletter1"
                                class="visually-hidden">Email address</label> <input id="newsletter1" type="email"
                                class="form-control" placeholder="Email address"> <button class="btn btn-primary"
                                type="button">Subscribe</button> </div>
                    </form>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>&copy; 2026 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Instagram"><svg class="bi"
                                width="24" height="24">
                                <use xlink:href="#instagram"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Facebook"><svg class="bi" width="24"
                                height="24" aria-hidden="true">
                                <use xlink:href="#facebook"></use>
                            </svg></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>