<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Availability</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/doctor_dashboard/doctor_set_availability.css">
</head>
<body>
    <div class="d-flex">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-primary sidebar"> <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none"> <svg
                    class="bi pe-none me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg> <span class="fs-4">Health Care</span> </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                
                <li> <a href="/doctor/dashboard" class="nav-link text-black"> <svg class="bi pe-none me-2" width="16" height="16"
                            aria-hidden="true">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        Dashboard
                    </a> </li>
                <li> <a href="/doctor/availability-page" class="nav-link text-black"> <svg class="bi pe-none me-2" width="16" height="16"
                            aria-hidden="true">
                            <use xlink:href="#table"></use>
                        </svg>
                        Set Availability
                    </a> </li>
                <li> <a href="/doctor/appointments-page" class="nav-link text-black"> <svg class="bi pe-none me-2" width="16" height="16"
                            aria-hidden="true">
                            <use xlink:href="#grid"></use>
                        </svg>
                        View appointments
                    </a> </li>
    
            </ul>
            <hr>
            <div class="dropdown"> <a href="#"
                    class="d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://github.com/mdo.png" alt="" width="32"
                        height="32" class="rounded-circle me-2"> <strong>mdo</strong> </a>
                <ul class="dropdown-menu dropdown-menu-black text-small shadow">
    
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="/doctor/profile-page">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/doctor/logout">Sign out</a></li>
                </ul>
            </div>
        </div>

        <div class="main-content">
        
            <div class="page-header mb-4">
                <h3>Set Availability</h3>
                <p>Select date and time range to generate slots automatically</p>
            </div>
        
            <form method="post" action="/doctor/availability">
        
                <!-- INPUT CARD -->
                <div class="card p-4 mb-4">
        
                    <h5 class="mb-3">Create Availability</h5>
        
                    <label class="form-label">Select Date</label>
                    <input type="date" name="date_str" class="form-control mb-3">
        
                    <label class="form-label">Start Time</label>
                    <input type="time" name="start_time" class="form-control mb-3">
        
                    <label class="form-label">End Time</label>
                    <input type="time" name="end_time" class="form-control mb-3">
        
                    <button class="btn btn-primary w-100" type="submit">
                        Generate Slots
                    </button>
        
                </div>
        
            </form>
        
            <!-- SLOTS DISPLAY -->
            <div class="card p-4">

                    <h5>Generated Slots</h5>

                    {% if success_message %}
                    <div class="alert alert-success mt-2">
                        {{ success_message }}
                    </div>
                    {% endif %}

                    {% if slots %}

                        <h6 class="mt-3 text-primary">
                            Date: {{ selected_date }}
                        </h6>

                        <div class="mt-2">

                            {% for slot in slots %}
                                <div class="badge bg-primary me-2 mb-2">
                                    {{ slot.start_time }} - {{ slot.end_time }}
                                </div>
                            {% endfor %}

                        </div>

                    {% else %}
                        <p class="text-muted">No slots generated yet</p>
                    {% endif %}

            </div>
                        
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>