<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="../static/patient_dashboard/patient_profile.css">
</head>

<body>
    <div class="profile-container">

        <div class="profile-card">

            <div class="profile-banner"></div>

            <div class="profile-header">

                <img src="images/profile.jpg" class="profile-image" alt="Profile">

                <h2>Pragna Sri</h2>

                <p class="role-tag">Patient</p>

            </div>

            <div class="profile-details">

                <div class="detail-box">
                    <label>Full Name</label>
                    <input type="text" value="Pragna Sri" readonly>
                </div>

                <div class="detail-box">
                    <label>Email Address</label>
                    <input type="email" value="pragna@gmail.com" readonly>
                </div>

                <div class="detail-box">
                    <label>Phone Number</label>
                    <input type="text" value="9876543210" readonly>
                </div>

                <div class="detail-box">
                    <label>Gender</label>
                    <input type="text" value="Female" readonly>
                </div>

                <div class="detail-box">
                    <label>Age</label>
                    <input type="text" value="20" readonly>
                </div>


            </div>
            <div class="profile-actions">
                <button class="profile-btn">
                    Edit
                </button>

                <button class="profile-btn">
                    Save
                </button>
            </div>

        </div>

    </div>
</body>

</html>