<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Patient Profile</title>
    <link rel="stylesheet" href="../static/patient_dashboard/patient_profile.css">
</head>

<body>
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-banner"></div>
            <div class="profile-header">
                <img src="{{ patient.profile_pic or 'https://github.com/mdo.png' }}" class="profile-image"
                    alt="Profile">
                <h2>{{ patient.name }}</h2>
                <p class="role-tag">Patient</p>
            </div>
            <div class="profile-details">
                <div class="detail-box"><label>Full Name</label><input type="text" value="{{ patient.name }}" readonly>
                </div>
                <div class="detail-box"><label>Email Address</label><input type="email" value="{{ patient.email_id }}"
                        readonly></div>
                <div class="detail-box"><label>Phone Number</label><input type="text" value="{{ patient.phone_no }}"
                        readonly></div>
                <div class="detail-box"><label>Gender</label><input type="text" value="{{ patient.gender }}" readonly>
                </div>
                <div class="detail-box"><label>Age</label><input type="text" value="{{ patient.age }}" readonly></div>
            </div>
            <div class="profile-actions">
                <a href="/patient/profile/edit-page" class="profile-btn"
                    style="text-decoration: none; text-align: center;">Edit</a>
            </div>
        </div>
    </div>
</body>

</html>